<div class="card">
  <div class="card-body">
    <strong><%= comment.user.name %>: </strong>
    <%= comment.content %>
    <% if can? :update, comment %>
      <%= link_to "Edit", edit_task_comment_path(@task, comment), class: "btn btn-outline-info" %>
    <% end %>
    <% if can? :destroy, comment %>
      <%= button_to "Delete", task_comment_path(@task, comment), method: :delete, class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>
