<div id="page-content">
<h1 class="text-center mt-4">Listing all tasks</h1>
  <div class="container">
    <div id="tasks">
      <%= render @tasks %>
    </div>
    <div id="pagination" class='hidden'>
      <%= will_paginate @tasks %>
    </div>
  </div>
</div>
<div id="next_data" data-next-page="<%= @tasks.next_page %>"></div>

