<div id="page-content">
  <h1 class="text-center mt-4">Listing all projects</h1>
  <div class="container">
    <div id="projects">
      <%= render @projects %>
    </div>
    <div id="pagination" class='hidden'>
      <%= will_paginate @projects %>
    </div>
  </div>
</div>
<div id="next_data" data-next-page="<%= @projects.next_page %>"></div>


