
 @import "bootstrap";
 @import 'actiontext.css';


 .text {
    color: red;
    font-style: italic;
  }
  
  .flash-notice-container {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: none; 
  }
  .flash-alert-container {
    background-color: yellow;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: none; 
  }

  .my-class {
    color: #fff;
    background-color: #00eb00;
  }
  
  .red-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .custom-row {
    background-color: #a89156; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
  }


  .btn-link {
    background: none;
    border: none;
    color: rgb(184, 184, 194);
    cursor: pointer;
    margin-top: 7px;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }

  .white-text {
    color: white;
    margin-left: 800px;
  }

  .hidden{
    display:none
  }

  